<footer>
  <div class="footer-container">
    <div class="left-col">
      <img src="assets/triangle-and-fox-head-icon.png" alt="" class="logo">
      <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <p class="rights-text">@ 2020 Created By Winston All Rights Reserved.</p>
    </div>
    <div class="right-col">
      <h1>Our Newsletter</h1>
      <div class="border"></div>
      <p class="right-col-p">Enter Your Email to get our news and updates.</p>
      <form action="" class="newsletter-form">
        <input type="text" class="txtb" placeholder="Enter Your Email">
        <input type="submit" class="btn" value="submit">
      </form>
    </div>
  </div>
</footer>