<section>
    <div class="services">
        <h1>Our Services</h1>
        <div class="cen">
            <div class="service">
                <i class="fas fa-anchor"></i>
                <h2> Service Name</h2>
                <p>fffff</p>
            </div>
            <div class="service">
                <i class="fab fa-galactic-senate"></i>
                <h2> Service Name</h2>
                <p>fffff</p>
            </div>
            <div class="service">
                <i class="fab fa-empire"></i>
                <h2> Service Name</h2>
                <p>fffff</p>
            </div>
        </div>
    </div>
</section>