<div class="introduction">
  <div class="self-img">
    <img width="300" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  </div>
  <div class="intro-detail">
    <div class="intro-description">
      <div class="description-title">
        <div>姓名：</div>
        <div>職業：</div>
        <div>學歷：</div>
        <div>喜好：</div>
      </div>
      <div class="description-value">
        <div>黃包包</div>
        <div>服務業</div>
        <div>大學-資管系</div>
        <div>看電影</div>
      </div>
    </div>
    <div>
      <button mat-stroked-button>開始預約</button>
    </div>
  </div>
</div>
<div class="intro-background">
  <h1>背景</h1>
  <p>
    誰是惡魔？誰是天使？

    傳說，天使與惡魔喜歡上了同一個女孩，他們發誓要保護這個女孩一生一世。

    突然有一天，世人指著女孩說她是災星，不應該活在這世上。

    如果她活著，就會帶給許多的人死去。

    那天，天使掙扎了很久，惡魔毫不猶豫地離開了天庭。

    那天，天使將那女孩約了出來，在女孩認為天使是來安慰她的時候，天使卻為了世人把女孩無情地殺了。

    後來才知道，惡魔為了女孩，離開天庭後，就下凡將天下人都殺了。

    對於天下人，天使確實是天使，惡魔也確實是惡魔。

    但對於女孩來說，天使才是惡魔，惡魔才是天使。

    天使：為天下人，我願負你。

    惡魔：為你，我願負天下人。
    　
    報長的話：

    看完這篇惡魔和天使的故事後，您覺得誰是天使誰又是惡魔呢？其實這沒有絕對的答案，因為答案會隨著我們是受害一方，還是獲利一方而有所改變。

    在故事中，我們沒辦法要求女孩讚揚那殺了她的天使，因為對女孩來說，天使對他所做的事就如同惡魔。

    而女孩也無法要求天下人，讚揚惡魔，因為對天下人來說，惡魔為了女孩殺盡天下人，就是不折不扣的惡魔。

    歷史中，有很多的人，是正或邪的爭議很大，這都是因為他們所做的事，對某些人來說是利，對某些人來說卻是害，這也就成了，有人尊其為神，有人尊其為魔。

    當事不關已時，我們可以很客觀的去判斷出誰是天使，誰是惡魔。

    但當我們被牽扯進利害關係中時，我們的內心的善與惡的立場就會隨著我們是獲利的一方，還是被犧牲的一方而發生轉變了。
  </p>
</div>
<div class="intro-background">
  <h1>現況</h1>
  <p>
    誰是惡魔？誰是天使？

    傳說，天使與惡魔喜歡上了同一個女孩，他們發誓要保護這個女孩一生一世。

    突然有一天，世人指著女孩說她是災星，不應該活在這世上。

    如果她活著，就會帶給許多的人死去。

    那天，天使掙扎了很久，惡魔毫不猶豫地離開了天庭。

    那天，天使將那女孩約了出來，在女孩認為天使是來安慰她的時候，天使卻為了世人把女孩無情地殺了。

    後來才知道，惡魔為了女孩，離開天庭後，就下凡將天下人都殺了。

    對於天下人，天使確實是天使，惡魔也確實是惡魔。

    但對於女孩來說，天使才是惡魔，惡魔才是天使。

    天使：為天下人，我願負你。

    惡魔：為你，我願負天下人。
    　
    報長的話：

    看完這篇惡魔和天使的故事後，您覺得誰是天使誰又是惡魔呢？其實這沒有絕對的答案，因為答案會隨著我們是受害一方，還是獲利一方而有所改變。

    在故事中，我們沒辦法要求女孩讚揚那殺了她的天使，因為對女孩來說，天使對他所做的事就如同惡魔。

    而女孩也無法要求天下人，讚揚惡魔，因為對天下人來說，惡魔為了女孩殺盡天下人，就是不折不扣的惡魔。

    歷史中，有很多的人，是正或邪的爭議很大，這都是因為他們所做的事，對某些人來說是利，對某些人來說卻是害，這也就成了，有人尊其為神，有人尊其為魔。

    當事不關已時，我們可以很客觀的去判斷出誰是天使，誰是惡魔。

    但當我們被牽扯進利害關係中時，我們的內心的善與惡的立場就會隨著我們是獲利的一方，還是被犧牲的一方而發生轉變了。
  </p>
</div>
