.query-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.spinner-section {
  display: flex;
  justify-content: center;
}

.search-result-section {
  display: flex;
  justify-content: center;
}
