.container {
  position: absolute;
  top: 44%;
  width: 100%;
}

.container>h1 {
  color: rgb(240, 80, 0);
  margin-top: 0;
  margin-bottom: 0;
}

.search-box {
  border: 1px solid #ddd;
  border-radius: 2px;
  display: inline-block;
  max-width: 600px;
  width: 100%;
  padding: 12px 18px;
  color: #888;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
  transition: box-shadow .2s cubic-bezier(.4, 0, .2, 1);
  background-color: #fff;
}


.search-button {
  display: inline-block;
  float: right;
  background-color: #f05000;
  padding: 8px 32px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  margin-top: -7px;
  margin-bottom: -7px;
  margin-right: -12px;
  cursor: pointer;
}


.slogan {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
  font-size: 26px;
  letter-spacing: 2px;
  line-height: 1.5em;
  font-weight: lighter;
}

.intro-header {
  height: 90vh;
  text-align: center;
  color: #f8f8f8;
  position: relative;
  background: #000;
  overflow: hidden;
}

.intro-header:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
  background-image: url(/assets/intro-bg-2af62af9072872533c23066e200be3bd.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  -ms-background-size: cover;
  background-size: cover;
}

// .sb-site {
//   width: 100%;
//   min-height: 100vh;
//   position: relative;
//   z-index: 1;
//   background-color: #fff;
// }

// .sb-site:after,
// .sb-site:before {
//   content: " ";
//   display: table;
//   clear: both;
// }
