<div class="testimonials">
  <div class="inner">
    <h1>Testimonials</h1>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <img src="https://data.whicdn.com/images/303893718/original.jpg" alt="">
          <div class="name">Full Name</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p>
            Share Content
          </p>
        </div>
      </div>
      <div class="col">
        <div class="testimonial">
          <img src="https://data.whicdn.com/images/303893718/original.jpg" alt="">
          <div class="name">Full Name</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p>
            Share Content
          </p>
        </div>
      </div>
      <div class="col">
        <div class="testimonial">
          <img src="https://data.whicdn.com/images/303893718/original.jpg" alt="">
          <div class="name">Full Name</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p>
            Share Content
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
